// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-page-banner {
  background-image: image-url("Coffee-Beans.jpg");
  background-position-y: 530px;
  opacity: 0.9;
}

.jumbotron {
  p {
  font-size: 60px;
}

  h1 {
    font-size: 100px;
  }
}

h5 {
  color: burlywood;
}

.background-blue {
  background-color: #2e6a82;
}

footer {
  margin-top: 50px;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 12px;
}

.social-link > a {
  font-size: 23px;
  color: #b2b2b2;
}

.padding-left-10 {
  padding-left: 10px;
}
