// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-page-banner {
  background-image: image-url("Coffee-Beans.jpg");
  background-position-y: 530px;
  opacity: 0.9;
}

.jumbotron p {
  font-size: 30px;
}
