<footer>
  <div class="background-blue row">
    <div class="container">
      <div class="col-sm-4 social-link">
        <a href="#" class="fa fa-facebook-square padding-left-10"></a>
        <a href="#" class="fa fa-instagram padding-left-10"></a>
        <a href="https://www.youtube.com/" target="_blank" class="fa fa-youtube-square padding-left-10"></a>
        <a href="https://twitter.com/" target="_blank" class="fa fa-twitter-square padding-left-10"></a>
      </div>

      <div class="col-sm-2">
        <h5>About</h5>
      </div>

      <div class="col-sm-2">
        <h5>Contact Us</h5>
        <ul>
          <li>Email: support@letsmeet.com</li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h5>Privacy</h5>
      </div>

      <div class="col-sm-2">
        <h5>Terms of Use</h5>
      </div>
    </div>
  </div>
</footer>
